.productMenu {
  margin: 15px 0;
}

.nopair {
  background-color: #f3f3f3;
}

.pair {
  background-color: #d3d3d3;
}

#items-1 li {
  overflow: auto;
  margin: 30px 0;
  padding: 10px 0 30px 0;
  border-bottom: 1px solid #000;
}

#items-1 li img {
  vertical-align: top;
}

#items-1 .productItem {
  display: inline-block;
  margin-left: 50px;
}
